{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas - Criar Tarefa</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="create_task">

        <h1>Criar Tarefa</h1>

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Criar</button>
        </form>

    </div>

    <div id="list_tasks">
        
        <h1>Lista de tarefas</h1>

        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>complete</th>
            </tr>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td> {{ task.title }} </td>
                        <td> {{ task.description }} </td>
                        <td> {{ task.complete }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</body>
</html>